.box {
  padding: 12px;
}

.box label {
  font-weight: bold;
}

.box label,
.box button,
.box input,
.box textarea {
  display: block;
}

.box input,
.box textarea {
  margin: 4px 0;
  width: 100%;
}

.box textarea {
  min-height: 140px;
}

#prompt-input-label::after {
  content: ":";
}

.button-wrapper {
  display: flex;
}
.button-wrapper button[disabled] + .mark::after {
  margin-left: 0.5em;
  content: "\2714";
}
